<% flash.each do |type, msg| %>
    <%= msg %>
  <% end %>
  
<img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" alt="Amusement Park">
<h1>Welcome to the //Amusement Park!</h1>